@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-italic {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.editorial-heading {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
}

.editorial-text {
  font-family: "Cormorant Garamond", serif;
}

.roboto-mono-text {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-style: italic;
}

:root{
  --bg: #F8F6F3;
  --text: #3e1e68;
  --blue: #2c327d;
}

[data-theme="dark"] {
  --bg: #130328;
  --text: #F8F6F3;
}

body {
  background-color: var(--bg);
  /* background-color: #130328; */
  /* background-color: #2e5767; */
  color: var(--text);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /* max-width: full; */
}

html, body {
  overflow-x: hidden;
}

.activeLink {
  color: #3e1e68;
  transition: all 300ms ease-in-out;
  font-weight: 500;
}

a:hover {
  color: #3e1e68;
  transition: color 200ms ease-in-out;
}

.nonActiveLink {
  color: #b1a1ed;
  transition: color 300ms ease-in-out;
}

.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -30%);
  user-select: none;
}

nav a {
  overflow: visible;
}

/* @media (hover: none) and (pointer: coarse) {
  .cursor-dot {
    display: none !important;
  }
} */

@media (max-width: 768px), (hover: none) and (pointer: coarse) {
  .cursor-dot {
    display: none !important;
  }
}


